env:
  state_dim: 33
  action_dim: 3
intermediate_dim: 512
actor:
  log_std_max: 2
  log_std_min: -20
  output_dim: 6
iql:
  learning_rate: 3e-6
  eta_min: 1e-7
  tau: 0.7
  gamma: 0.99
  alpha: 0.005
  beta: 1.0
training:
  batch_size: 512
  epochs: 100
